<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/css/estilos.css">
<dom-module id="login-app">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
     .encabezado{
       color: black;
       font-size: 30px;
     }
     .pantallacompleta {
         z-index: -999;
         width: 100%;
         height: 100%;
         background-position: center center;
         position: fixed;
         top: 0;
         left: 0;
     }

   </style>
   <div class="container" hidden$={{logado}}>
     <div class="row">
       <h1 class="encabezado">Invierte con nosostros de forma segura</h1>
     </div>
     <div class="row">
       Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" value="{{email::input}}">
     </div>
     <div class="row">
       Password: <input type="password" value="{{password::input}}">
     </div>
     <div class="row">
       <button on-click="Entrar" class="btn btn-success">Login</button>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       <h7 class="encabezado">Nuevos Clientes registrarse , <span on-click="registrar" style="color:blue;cursor:pointer;">Aqui</span> </h7>
     </div>
     <div class="row">
       <!--<button on-click="registrar" class="btn btn-success">Registrar</button>-->
     </div>
     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/entrada.jpg" alt="">
     </div>
   </div>
   <div class="container" hidden$={{!dentro}}>
     <div class="row">
       <h1 class="encabezado">Controla tus Inversiones</h1>
       <br>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       Series de Inversión:&nbsp; &nbsp; &nbsp;<select value="{{portafolio::change}}" name="comboportafolio" id="comboportafolio">

         <option value="USD1-" selected>USD1-</option>
         <option value="USD2">USD2</option>
         <option value="USD3+">USD3+</option>
       </select>
     </div>
     <div class="row">
       Tipo Movimiento: &nbsp; &nbsp; &nbsp;&nbsp; <select value="{{operacion::change}}" name="combooperacion" id="combooperacion">
         <option value=1 selected>Aportación</option>
         <option value=-1>Retiro</option>
       </select>
     </div>
     <div class="row">
       Monto a Invertir: &nbsp;&nbsp;&nbsp;&nbsp;<input type="importe" value="{{importe::input}}">

       <button on-click="inventir" class="btn btn-success">invertir</button>
       <br>
     </div>
     <div class="row">
       <br>
       <h3 > </h3>
       <br>
     </div>
     <div class="row">
       Cuentas Con $: <input type="saldo" value="[[saldo]]" disabled>
       <br>
     </div>
     <div class="row">
       <br>
       <h4 > </h4>
       <br>
     </div>
     <div class="row">
       <button on-click="tipocambio" class="btn-info">Tipo de Cambio</button>

        <button on-click="salir" class="btn btn-success">Salir</button>
     </div>
     <div class="row">
       <br>
       <h5 > </h5>
       <br>
       <h6 > </h6>
       <br>
     </div>

     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/operacion.jpg" alt="">
     </div>
   </div>
   <div class="container" hidden$={{!registrado}}>
     <div class="row">
       <h1 class="encabezado">Registrate</h1>
       <br>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       Email: <input type="email" value="{{email::input}}">
       <br>
     </div>
     <div class="row">
       Password: <input type="password" value="{{password::input}}">
       <br>
     </div>
     <div class="row">
       Nombre: <input type="nombre" value="{{nombre::input}}">
       <br>
     </div>
     <div class="row">
       A. Paterno: <input type="apaterno" value="{{apaterno::input}}">
       <br>
     </div>
     <div class="row">
       A. Materno: <input type="amaterno" value="{{amaterno::input}}">
       <br>
     </div>
     <div class="row">
       <button on-click="guardar" class="btn btn-success">Guardar</button>
       &nbsp; &nbsp; &nbsp;
       <button on-click="regresar" class="btn btn-success">Regresar</button>
     </div>

     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/registro.jpg" alt="">
     </div>
   </div>

   <div class='row'>
     <table class = "table-striped">
           <tbody>
             <template is="dom-repeat" items="{{movimientos}}">
               <tr>
                 <td>
                   [[item.email]]
                 </td>
                 <td>
                   [[item.portafolio]]
                 </td>
                 <td>
                   [[item.importe]]
                 </td>
               </tr>
             </template>
           </tbody>
         </table>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginApp extends Polymer.Element {
     static get is() { return 'login-app'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         nombre: {
           type: String
         },
         apaterno: {
           type: String
         },
         amaterno: {
           type: String
         },
         portafolio: {
           type: String,
           value: "USD1-"
         },
         operacion: {
           type: Number,
           value: 1
         },
         importe: {
           type: Number
         },
         saldo: {
           type: Number,
           value: 0
         },
         movimientos: {
           type: Array,
           notify: true
        },
        tiposcambios: {
          type: Array,
          notify: true
       },
         logado: {
           type: Boolean,
           value: false
         },
         dentro: {
           type: Boolean,
           value: false
         },
         registrado: {
           type: Boolean,
           value: false
         }
       }
     }

     Entrar() {
       console.log("Entro al Login");
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/Login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.setRequestHeader("password", this.password);
       request.send();
       this.respuesta = request.responseText;

       console.log(request.status);
       //console.log(this.email);
       //console.log(this.password);
       if (request.status == 200) {
         this.logado = true;
         this.dentro = true;
       } else {
         alert("Usuario y/o contraseña incorrecta");
         this.logado = false;
         this.dentro = false;
       }
     }

     registrar() {
       console.log("Se ha pulsado el botón de registrar");
       this.registrado = true;
       this.logado = true;
       this.dentro = false;
     }

     salir() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
       this.movimientos=false;
       this.saldo =  "";
       this.portafolio = false ;
       this.importe = "";
       this.operacion = False;


     }

     regresar() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
     }

     guardar() {
       if (!/^([A-Za-z0-9.@_-])*$/.test(this.email) || this.email.length == 0){
          alert("Capture un correo válido");
          return false;
        }
        if (!/^([A-Za-z0-9.@_#$-])*$/.test(this.password) || this.password.length == 0){
           alert("Capture una contraseña válida");
           return false;
         }
       //console.log("Se ha pulsado el botón de guardar " + this.email.length + " " + this.password.length);
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/GuardaUser";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevoCliente = {"email":this.email,"password":this.password,"nombre":this.nombre,"apaterno":this.apaterno, "amaterno":this.amaterno};

       var body = JSON.stringify(nuevoCliente);
       console.log("antes " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("ZZZ " + request.status);
       console.log("ZZZ1 " + request.responseText);

       if (request.status == 200) {
         this.registrado = false;
         this.logado = false;
         this.dentro = false;
         this.password = "";
       } else {
          console.log("Error al guardar: " + request.status);
       }
     }

     inventir() {
       console.log("Se ha pulsado el botón de invertir");
      if (!/^([0-9.])*$/.test(this.importe) || this.importe == 0){
        //alert("El valor " + numero + " no es un número");
         alert("Capture un importe válido");
         return false;
       }
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/Invierte";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevaInversion = {"email":this.email,"portafolio":this.portafolio,"importe":parseFloat((this.importe * this.operacion),10)};

       var body = JSON.stringify(nuevaInversion);
       //console.log(body);
       console.log("antes " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("ZZZ " + request.status);
       console.log("ZZZ1 " + request.responseText);
       //SaldoConsultar();

       url = "http://localhost:3000/Saldo";
       var x = 0;
       var total = 0;
       request.open("GET", url, false);
       //request.setRequestHeader("Accept", "application/json");
       //request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.send();
       this.movimientos = JSON.parse(request.responseText);
       console.table(this.movimientos);
       for (x=0;x<this.movimientos.length;x++){
         console.log(this.movimientos[x].importe);
         total = total + this.movimientos[x].importe;
         console.log("total " + total);


       }
       this.saldo=Math.round(total * 100)/100;
   }

   tipocambio(){

  //<api-app style="margin-left: auto;margin-right: auto;margin-top: 250px;border: 2px solid salmon;border-radius: 5px;background-color: white;padding: 15px;"></api-app>

     var request = new XMLHttpRequest();
     var url = "http://localhost:3000/apipubget";
     var x = 0;
     request.open("GET", url, false);
     //request.setRequestHeader("Accept","application/json");
     request.send();
     this.tiposcambios = JSON.parse(request.responseText);
     console.table(this.tiposcambios);
     for (x=0;x<this.tiposcambios.length;x++){
       console.log("linea:" + x + this.tiposcambios[x]);
       //total = total + this.tiposcambios[x].importe;

     }
     console.log("total " + x);
     console.log("long" + this.tiposcambios.length);
   }

 }
   window.customElements.define(LoginApp.is, LoginApp);
 </script>
</dom-module>
