<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener clientes</button>
        <button on-click="agregarCliente" class="btn btn-success" type="button" name="button">Registrar clientes</button>
        <br>
         <!--input type="portafolio" value="{{portafolio::input}}"-->
        Portafolio: <select value="{{portafolio::change}}" name="comboportafolio" id="comboportafolio">
          <option value="USD1-" selected>USD1-</option>
          <option value="USD2">USD2</option>
          <option value="USD3+">USD3+</option>
        </select>
        <br>
        <button on-click="validar" class="btn btn-success">Validar</button>
        <br>
        Tu saldo al dia de hoy es de: <input type="saldo" value="[[importe]]" disabled>
      </div



    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          //  value: 'gestor-clientes'
        },
        portafolio: {
          type: String,
          value: "USD1-"
        },
        importe: {
          type: Number,
          value: 0
        }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("prop2: " + this.prop2);
        console.log("prop1: " + this.prop1);
      }


    /*  obtenerClientes(){
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;

        console.table(this.clientes);
      }*/

      obtenerClientes(){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/v2/Clientes";
        var x = 0;
        var total = 0;
        request.open("GET", url, false);
        //request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        //console.table(this.clientes);
        for (x=0;x<this.clientes.length;x++){
        console.log(this.clientes[x].idcliente);
        total = total + this.clientes[x].idcliente;
        }
        this.importe=total;
      }

    /*  agregarCliente(){
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        //console.table(JSON.parse(request.responseText).value)
        console.log(this.respuesta);
      }*/
      agregarCliente(){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/v2/Clientes";
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"idcliente":4321, "nombre":"Pepe", "apellido":"Grillo"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        //console.table(JSON.parse(request.responseText).value)
        console.log(this.respuesta);
      }

      validar(){
        console.log("cambios: " + this.portafolio);
      }
    }


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
